.hover-underline:hover {
  text-decoration: underline;
  color: #dc3545;
}
body {
  background: linear-gradient(to bottom, #ffe6f0, #fff);
}
.nav-link:hover {
  color: #e75480 !important;
  text-decoration: underline;
}
